.container {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.poster {
  flex-shrink: 0;
  width: 300px;
}

.details {
  flex-grow: 1;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.userScore {
  margin-bottom: 20px;
  font-size: 18px;
}

.overview,
.genres {
  margin-bottom: 20px;
}

.overview strong,
.genres strong {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.additionalInfo {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.additionalInfo h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.additionalInfo ul {
  list-style-type: none;
  padding: 0;
}

.additionalInfo ul li {
  margin-bottom: 10px;
}

.additionalInfo ul li a {
  color: #007bff;
  text-decoration: none;
}

.additionalInfo ul li a:hover {
  text-decoration: underline;
}

.goBackButton {
  margin: 16px 0px;
}